* {
    padding: 0;
    margin: 0;
}

body {
    color: #121212;
    background: aliceblue;
}

hgroup {
    text-transform: uppercase;
    padding: 1em 0;
    text-align: center;
}

hgroup h1 {
    font-size: 2em;
    color: #9b59b6;
    font-weight: 800;
    letter-spacing: .1em;
    padding: .2em 0;
}

hgroup h2 {
    font-weight: 300;
    font-size: 1em;
    letter-spacing: .4em;
}

.box {
    background: white;
    position: relative;
    margin: 30px 5px;
    border: 2px solid navy;
    border-radius: 25px;
    opacity: 0.7;
    display: block;
    padding: 20px;
}

.plot-img {
    width: 95%;
}

/* Spinner */

@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}

.spinner:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    margin-left: -10px;
    border-radius: 50%;
    border-top: 2px solid #07d;
    border-right: 2px solid transparent;
    animation: spinner .6s linear infinite;
}