@font-face {
    font-family: 'Audiowide';
    font-style: normal;
    font-weight: 400;
    src: local("Audiowide"), local("Audiowide-Regular"), url(http://themes.googleusercontent.com/static/fonts/audiowide/v2/8XtYtNKEyyZh481XVWfVOj8E0i7KZn-EPnyo3HZu7kw.woff) format("woff");
}
.black-grad {
    background: #0F2027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 100vh;
}
.middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.top {
    position: relative;
    top: 0;
    left: 0;
    margin-bottom: 60px;
}
#dname {
    transition: all 0.5s ease-in-out;
}
.font {
    color: white;
    font-family: Audiowide;
    text-align: center;
    padding: 50px;
}