<html>

<head>
    <title>Auto ML</title>
    {% if warn %}
        <script>
            window.onload = function(){
                alert('You have to choose a Dataset to move on');
        }
        </script>
    {% endif %}

    {% include 'cdns.html' %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
</head>

<body>
    <header>
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-dark">
                <a class="navbar-brand" href="#"><img src="{{ url_for('static', filename='mlLogo.svg') }} "
                        target="blank" alt="logo" height="150"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav mr-auto">

                        <li class="nav-item active">
                            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Run Custom Script</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Blog</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Contact</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>


    <section>
        <div class="container p-5">
            <div class="row mb-5 text-center text-white">
                <div class="col-lg-10 mx-auto">
                    <h1 class="display-4">Automated Machine Learning</h1>
                    <p class="lead">Visualize your Test Datasets and Predict anytime</p>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-5 mx-auto">
                    <div class="p-5 bg-white shadow rounded-lg"><img
                            src=" {{ url_for('static', filename='uploadIcon.svg') }} " alt="" width="200"
                            class="d-block mx-auto mb-4 rounded-pill">

                        <h6 class="text-center mb-4 text-muted">
                            Upload your Train Dataset here
                        </h6>

                        <form action="/handleUpload" method="POST" enctype="multipart/form-data">
                            <div class="custom-file overflow-hidden rounded-pill mb-5">
                                <input id="customFile" type="file" class="custom-file-input rounded-pill"
                                    name="dataset" onchange="setFileName(this)" accept=".csv,.tsv">
                                <label id="chosenfile" for="customFile" class="custom-file-label rounded-pill">Choose file</label>
                            </div>

                            <label for="fileUpload" class="file-upload btn btn-primary btn-block rounded-pill shadow">
                                <i class="fa fa-upload mr-2"></i>Upload
                                <input id="fileUpload" type="submit">
                            </label>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

<script>
    function setFileName(file) {
        //document.getElementById('chosenfile').innerHTML = file.value;
        document.getElementById('chosenfile').innerHTML = "../" + file.files[0].name;
    }
</script>

</html>