<html>

<head>
    <title>Model Display</title>
    {% include 'cdns.html' %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vs.css') }}">
    <script src="{{ url_for('static', filename='highlight.pack.js') }}"></script>
</head>

<body>
    <header>
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-dark">
                <a class="navbar-brand" href="#"><img src="{{ url_for('static', filename='mlLogo.svg') }} "
                        target="blank" alt="logo" height="150"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/about">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/select/0">Model Selection</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Home Page</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>

    <div class="container p-5">
        <div class="row">
            <div class="col-lg-6 col-md-5 mx-auto mt-4">
                <div class="p-5 bg-white shadow rounded-lg"><img
                        src=" {{ url_for('static', filename='uploadIcon.svg') }} " alt="" width="200"
                        class="img-fluid d-block mx-auto mb-4 rounded-pill">

                    <h6 class="text-center mb-4 text-muted">
                        Upload your Test Dataset here
                    </h6>

                    <form action="/handleTest" method="POST" enctype="multipart/form-data">
                        <div class="custom-file overflow-hidden rounded-pill mb-5">
                            <input id="customFile" type="file" class="custom-file-input rounded-pill" name="testset"
                                onchange="setFileName(this)" accept=".csv,.tsv" required>
                            <label id="chosenfile" for="customFile" class="custom-file-label rounded-pill">Choose
                                file</label>
                        </div>

                        <label for="fileUpload" class="file-upload btn btn-primary btn-block rounded-pill shadow">
                            <i class="fa fa-upload mr-2"></i>Upload
                            <input id="fileUpload" type="submit">
                        </label>
                    </form>
                </div>
            </div>
            <div class="col-lg-6 col-md-5 mx-auto mt-4">
                <div class="card">
                    <div class="card-header">
                        Your Python Code
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Click the download Button at the bottom to download the Script</h5>
                        <pre class="card-text"><code class="language-python" id="pycode">{{ code|safe }}</code></pre>
                        <a href="{{ url_for('getFile', filename = folderName+'/pipeline.py') }}" 
                        class="btn btn-primary" download="{{ folderName.split('_')[1] }}_pipeline.py">Download it</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <div class="card mt-4">
                    <div class="card-header">
                        Activity Log
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Accuracy: {{ acc }} % </h5>
                        <p class="card-text" id="log">{{ log|safe }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

<script>
    function setFileName(file) {
        document.getElementById('chosenfile').innerHTML = "../" + file.files[0].name;
    }

    //var code = `{{ code|safe }}`
    //var log = `{{ log|safe }}`
    //document.getElementById('pycode').innerHTML = code
    //document.getElementById('log').innerHTML = log

    function setFileName(file) {
        document.getElementById('chosenfile').innerHTML = "../" + file.files[0].name;
    }
</script>

<script>hljs.initHighlightingOnLoad();</script>

{% if noDataset %}
<script>
    window.onload = function(){
        alert('You have to choose a Dataset to move on!');
}
</script>
{% endif %}