<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include 'cdns.html' %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='plotsStyle.css') }}">
    <title>Plots</title>
</head>

<body>
    <hgroup>
        <h1>Plots</h1>
        <h2>Predictives vs Target Variable</h2>
    </hgroup>
    <div class="text-center mb-3">
        <div class="btn-group m-3" role="group">
            <a class="btn btn-dark" href="/select/1">Back to Model Selection</a>
            <a class="btn btn-light" href="/">Upload Window</a>
        </div>
    </div>
    <div class="container">
        {% for eachtype in plottypes -%}
        {% for plotloc in eachtype['loc'] -%}
        <div class="row">
            <div class="col-md-12">
                <div class="card shadow m-3">
                    <div class="card-header">
                        <h3 class="font-weight-light text-capitalize">{{ plotloc.split('-')[0] }}</h3>
                    </div>
                    <div class="card-body">
                        <img class="mt-3 mb-3 plot-img" 
                        src="{{ url_for('getFile', filename = folderName+'/'+plotloc) }}">
                    </div>
                </div>
            </div>
        </div>
        {%- endfor %}
        {%- endfor %}
    </div>

    <script src="https://www.gstatic.com/dialogflow-console/fast/messenger/bootstrap.js?v=1"></script>
    <df-messenger chat-title="Shadow" agent-id="e919c902-795e-4039-83b3-a31653c1f483"
        language-code="en" chat-icon="{{ url_for('static', filename='/botIcon.svg') }}"
        style="--df-messenger-button-titlebar-color: #424242;"></df-messenger>

</body>

<script src="{{ url_for('static', filename='plots.js') }}"></script>

</html>