<head>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/styleSelection.css') }}">
	<link rel="icon" href="{{ url_for('static', filename='/favicon.ico') }}" type="image/gif" sizes="96x96">
	<script src="https://kit.fontawesome.com/b1871989d8.js" crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/jquery-3.5.0.min.js" integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>
</head>

<body>
	<div id="datasetAlert" class="alert" style="text-align: center; display: none;">
		<span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
		<strong>Dataset: &nbsp;</strong>You are working on {{ session["datasetTrueName"] }}!
	</div>
	<form id="dataProp" action="/generate-proc" method="POST" enctype="multipart/form-data">
		<div class="continput">
			<div class="tab">
				<h1>Select Type</h1>
				<h4>Choose one for your Dataset</h4>
				<ul>
					<li>
						<input checked type="radio" name="problem" value="classification">
						<label>Classification</label>
						<div class="bullet">
							<div class="line zero"></div>
							<div class="line one"></div>
							<div class="line two"></div>
							<div class="line three"></div>
							<div class="line four"></div>
							<div class="line five"></div>
							<div class="line six"></div>
							<div class="line seven"></div>
						</div>
					</li>
					<li>
						<input type="radio" name="problem" value="prediction">
						<label>Regression</label>
						<div class="bullet">
							<div class="line zero"></div>
							<div class="line one"></div>
							<div class="line two"></div>
							<div class="line three"></div>
							<div class="line four"></div>
							<div class="line five"></div>
							<div class="line six"></div>
							<div class="line seven"></div>
						</div>
					</li>
					<li>
						<input type="radio" name="problem" value="visualization">
						<label>Visualize the Data</label>
						<div class="bullet">
							<div class="line zero"></div>
							<div class="line one"></div>
							<div class="line two"></div>
							<div class="line three"></div>
							<div class="line four"></div>
							<div class="line five"></div>
							<div class="line six"></div>
							<div class="line seven"></div>
						</div>
					</li>
				</ul>
			</div>
			<!--style="display:block;"-->
			<div class="tab">
				<h1>Specify Your Data</h1>
				<h4>Choose Target (Y) column</h4>
				<div class="custom-select" style="width:200px;">
					<select id="target_y" name="target_y" required>
					  <option value="#">Attributes</option>
					  {% for i in attrib %}
					  	<option value="{{ i }}">{{ i }}</option>
					  {% endfor %}
					</select>
				</div>
				<div class="custom-select" style="width:200px;">
					<select id="timer" name="timer" required>
						<option value="#">Timer</option>
						<option value="5">10 secs &#10004;</option>
						<option value="15">15 secs &#10004;</option>
						<option value="20">20 secs &#10004;</option>
						<option value="60">1 min &#9888;</option>
						<option value="600">10 mins &#9888;</option>
					</select>
				</div>
				<!--Toggle-->
				<h4 style="margin-bottom: 10px;">Press Load if You have already created the Model</h4>
				<div class="toggle toggle--neon">
					<input name="load_model" type="checkbox" id="toggle--neon" class="toggle--checkbox">
					<label class="toggle--btn" for="toggle--neon" data-label-on="Load"  data-label-off="Create"></label>
				</div>
			</div>
			<div class="slideparent">
				<div class="slidebox">
					<a href="#" class="slide previous round" onclick="nextPrev(-1)">
						<i class='fas fa-chevron-left' style='font-size:24px'></i>
					</a>
					<a href="#" class="slide next round" onclick="nextPrev(1)">
						<i class='fas fa-chevron-right' style='font-size:24px'></i>
					</a>
			</div>
			</div>
			<div class="step-grp">
				<span class="step"></span>
				<span class="step"></span>
			  </div>
		</div>
	</form>

	<div class="footerDrawer footerDrawer-mob">
		<div class="open">Want to use this dataset again?</div>
		<div class="content">
			<div style="padding: 10px 0; width: 100%;">Click below to copy the token</div>
			<input id="token" class="input100" type="text" name="name" 
			value="{% if 'datasetName' in session.keys() %}{{session['datasetName'].split('_')[0]}}{% else %}{{'Not Dataset Chosen'}}{% endif %}" placeholder="Token" readonly>
			<div class="tooltip">
				<a onclick="copyToClipboard()" onmouseout="outFunc()" href="#" class="copy-btn">
					<span class="tooltiptext" id="myTooltip">Copy to clipboard</span>
					Copy Token
				</a>
			</div>
		</div>
	</div>
	
	<div class="icon-bar">
		<a href="/" class="home"><i class="fas fa-home"></i></a>
	</div>
</body>

<script src="{{ url_for('static', filename='/styleJs.js') }}"></script>
{% if showDatasetName %}
<script>
	window.onload = function(){
		//alert('Your Dataset is: {{ session["datasetTrueName"] }}!');
		document.getElementById("datasetAlert").style.display = "block";
}
</script>
{% endif %}