<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/styleSelection.css') }}">
</head>

<body>
<div class="continput">
	<h1>Select Type</h1>
	<h4>Choose one for your Dataset</h4>
	<ul>
		<li>
			<input checked type="radio" name="1">
			<label>Classification</label>
			<div class="bullet">
				<div class="line zero"></div>
				<div class="line one"></div>
				<div class="line two"></div>
				<div class="line three"></div>
				<div class="line four"></div>
				<div class="line five"></div>
				<div class="line six"></div>
				<div class="line seven"></div>
			</div>
		</li>
		<li>
			<input type="radio" name="1">
			<label>Prediction</label>
			<div class="bullet">
				<div class="line zero"></div>
				<div class="line one"></div>
				<div class="line two"></div>
				<div class="line three"></div>
				<div class="line four"></div>
				<div class="line five"></div>
				<div class="line six"></div>
				<div class="line seven"></div>
			</div>
		</li>
		<li>
			<input type="radio" name="1">
			<label>Something Else</label>
			<div class="bullet">
				<div class="line zero"></div>
				<div class="line one"></div>
				<div class="line two"></div>
				<div class="line three"></div>
				<div class="line four"></div>
				<div class="line five"></div>
				<div class="line six"></div>
				<div class="line seven"></div>
			</div>
		</li>
	</ul>
</div>
</body>