<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylePlots.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/gif" sizes="128x128">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8=" crossorigin="anonymous"></script>
    <title>Plots</title>
</head>
<body>
    <hgroup>
        <h1>Plots</h1>
        <h2>Predictives vs Target Variable</h2>
    </hgroup>
 <!--   <div id="image-slider">
        <ul> -->
            {% for eachtype in plottypes -%}
                {% for plotloc in eachtype['loc'] -%}
                    <!--<li>--><img src="{{ url_for('svgRender', filename = folderName+'/'+plotloc) }}"><!--</li>-->
                {%- endfor %}
            {%- endfor %}
            <!--<li><img src="https://unsplash.imgix.net/reserve/N13RIliTTASBbuYyszgq_P9020914-54.jpg?fit=crop&fm=jpg&h=800&q=75&w=1050"></li>
            <li><img src="https://unsplash.imgix.net/uploads/1413386993023a925afb4/4e769802?fit=crop&fm=jpg&h=700&q=75&w=1050"></li> -->
<!--        </ul>
    </div>
    <div class="controls">
        <a id="previous" title="previous-image">Previous</a>
        <a  id="next" title="next-image">Next</a>
    </div> -->
</body>

<script src="{{ url_for('static', filename='plots.js') }}"></script>
</html>