<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylePlots.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/gif" sizes="128x128">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8=" crossorigin="anonymous"></script>
    <title>Plots</title>
</head>
<body>
    <hgroup>
        <h1>Plots</h1>
        <h2>Predictives vs Target Variable</h2>
    </hgroup>
        {% for eachtype in plottypes -%}
            {% for plotloc in eachtype['loc'] -%}
                <img class="box" src="{{ url_for('svgRender', filename = folderName+'/'+plotloc) }}">
            {%- endfor %}
        {%- endfor %}
</body>

<script src="{{ url_for('static', filename='plots.js') }}"></script>
</html>